
services:
  backend:
    build: backend
    image: backend
    ports:
      - "3001:3001"
    networks:
      - app-network
    volumes:
      - shared-uploads:/usr/src/app/build/uploads
    
  frontend:
    build: client
    image: client
    ports:
      - "3000:3000"
    networks:
      - app-network
    volumes:
      - shared-uploads:/usr/src/app/build/uploads
      - ./client/tailwind.config.js:/usr/src/app/public/tailwind.config.js

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123123123
      POSTGRES_DB: Lotus
    ports:
      - "5432:5432"
    networks:
      - app-network

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    restart: always
    ports:
      - "80:80"      # HTTP
      - "81:81"      # Admin Web UI
      - "443:443"    # HTTPS
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
      - shared-uploads:/usr/src/app/build/uploads
      - ./client/src/images:/usr/src/app/src/images
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  shared-uploads:
